{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-dark text-white text-center">
                    <h4>Cadastro de Barbeiro</h4>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-dark w-100 mt-3">Cadastrar</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>Já possui conta? <a href="{% url 'agenda:login_cliente' %}">Faça login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
